/*------------------------------------*\
    #STYLES
\*------------------------------------*/

// Variables
$color-awesome: rebeccapurple;

// Styles
body {
  color: $color-awesome;
}

// More styles
p {
  margin-top: 0;
}
